@import url('https://fonts.googleapis.com/css?family=Acme|Anton|Fjalla+One|Lobster|Roboto&display=swap');

body{
	font-family: 'Fjalla One', sans-serif;
}

.main-search{
	background-image: url('./assets/fondo1.jpg');
	background-size:cover; 

}
.background-overlay{
	background-color:  rgba(83, 92, 104,0.7);
	min-height:90vh;
	font-family: 'Anton', sans-serif;
	
}
.border-dark{
	border: 1.5px solid;
}

.color-y{
 color:	#FFD861;
}
.footer{
	bottom: 0;
	height:10vh;
}
.text-Fjalla{
	font-family: 'Fjalla One', sans-serif;
}
.m-50{
	margin : 1% 5%;
}
.bg-blue{
	background: #17a2b8;
}

.card-img-top{
	cursor: pointer;
}

@media (min-width: 768px) {
	.h1{
		font-size: 70px;
	}
	.h2{
		font-size: 50px;
	}
	.p{
		font-size: 20px;
	}

	.card-img-top{
		height: 250px;
		
		
	}
}